  <p>
	<ul>
	 {{#each opinions}}
		<li>{{formatDate date day="numeric" month="numeric" year="numeric"}}  <span>{{name}}  <span>{{email}}  </span>  {{rank}}  <span>{{part}}  <span>{{feed}} </li>
	{{/each}}
	</ul>
  </p>

